/* Styling not logged front page caurosel */
#page-site-index.notloggedin #mooveslideshow .carousel-caption {
    background-color: rgb(119 33 88 / 69%) !important;
}
#page-site-index.notloggedin #mooveslideshow .carousel-control-prev-icon, 
#page-site-index.notloggedin #mooveslideshow .carousel-control-next-icon {
    width:40px;
    height: 40px;
}

#page-site-index.notloggedin #mooveslideshow .carousel-control-prev:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow:0px 0px 0px white !important;
}

#page-site-index.notloggedin #mooveslideshow .carousel-control-next:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:0px 0px 0px white !important;
} 

#page-site-index.notloggedin #mooveslideshow .carousel-indicators li {
    width: 48px;
    height:48px;
    border-radius: 50%;
    position:relative;
    top:-3.5px;
}

#page-site-index.notloggedin #mooveslideshow .carousel-caption {
    bottom: 60px;
}

#page-site-index.notloggedin #mooveslideshow .carousel-indicators {
    height: 61px;
    margin-bottom: 0;
    /* background-color: rgb(119 33 88 / 69%); */
}



/* Hide the doubling of the description on H5P activities */
div#hvpintro.box.py-3.mod_introbox {
	display: none !important;
}


/* Font awesome search icons */

.fa-search:before {
    content: "" !important;
}

.fa-times:before {
    content: "" !important;
}

/* RCVSK Footer icon for podcast subscriptions */
.podbean {
    background-color: grey;
    :hover {
       background-color: darken(#999999, 20%);
    }
    .fa {
       margin-left: -1px;
     }
 }
 
 /* RCVSK Footer formattting */
 #top-footer {
   background-image: none !important;
   background: #f8f8f8;
   padding: 40px 55px;
   margin: 20px 35px 30px 40px;
   border-radius: 30px;
   border: 1px solid #ddd;
   color: #707070;
   font-size: 0.9em;
   font-weight: 400;
 }

 /* RCVSK course images on enrolment page */

 #topofscroll {
    background-color: #fff !important;
 }
 #topofscroll #page-content,
 #topofscroll #region-main {
    background-color: #fff !important;
 }

 .dashboard-card .dashboard-card-img {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* RCVSK Frontpage label */

#page-site-index.notloggedin .section .activity.modtype_label.label .contentwithoutlink {
    padding-right: 0;
}

img .rcvsk-front-page-label  {
    height: 150px;
    width: 100%;
}
.rcvsk-front-page-label div  {
    overflow: hidden;
}

.rcvsk-front-page-label .card {
    padding: 0.5em;
    transition: 0.5s;
    cursor: pointer;

    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);

}
.rcvsk-front-page-label .card:hover {
    text-decoration: none;
    /* transform: scale(1.05); */
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */
}
.rcvsk-front-page-label .card:hover::before {
    transform: scale3d(1, 1, 1);
}
.rcvsk-front-page-label .card:hover::after {
    transform: scale3d(1, 1, 1);
}
.rcvsk-front-page-label .card::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    transform-origin: left top;
}
.rcvsk-front-page-label .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
    transform-origin: right bottom;
}

.rcvsk-front-page-label .card a:not([class]):focus{
    border-radius:0.5em;
}
.rcvsk-front-page-label .card:focus::before {
    transform: scale3d(1, 1, 1);
}
.rcvsk-front-page-label .card:focus::after {
    transform: scale3d(1, 1, 1);
}
div .rcvsk-front-page-label a:hover {
    text-decoration: none;
}

div .rcvsk-front-page-label a:hover .card-text {
    text-decoration: underline;
}




