<li class="nav-item"><a href="{{config.infocus_url}}" class="text-purple icon_infocus nav-link mx-2 px-1" target="_top">inFOCUS</a></li>
<li class="nav-item"><a href="/" class="text-purple icon_learn nav-link mx-2 px-1 active" target="_top">LEARN</a></li>
<li class="nav-item"><a href="{{config.ve_url}}" class="text-purple icon_ve nav-link mx-2 px-1" target="_top">VETERINARY EVIDENCE</a></li>
<li class="nav-item"><a href="{{config.vh_url}}" class="text-purple icon_vh nav-link mx-2 px-1" target="_top">VET HISTORY</a></li>
<li class="nav-item"><a href="{{config.ccr_url}}" class="text-purple icon_ccr nav-link mx-2 px-1" aria-current="page" target="_top">CANINE CRUCIATE REGISTRY</a></li>