<li class="nav-item"><a href="{{config.infocus_url}}" class="text-purple icon_infocus nav-link px-2" target="_top">inFOCUS</a></li>
<li class="nav-item"><a href="/" class="text-purple icon_learn nav-link px-2 active" target="_top">LEARN</a></li>
<li class="nav-item"><a href="{{config.ve_url}}" class="text-purple icon_ve nav-link px-2" target="_top">VETERINARY EVIDENCE</a></li>
<li class="nav-item"><a href="{{config.vh_url}}" class="text-purple icon_vh nav-link px-2" target="_top">VET HISTORY</a></li>
<li class="nav-item"><a href="{{config.ccr_url}}" class="text-purple icon_ccr nav-link px-2" aria-current="page" target="_top">CANINE CRUCIATE REGISTRY</a></li>