{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_moove/navbar

    This template renders the top navbar.

    Example context (json):
    {
        "output": {
            "should_display_navbar_logo": true,
            "get_compact_logo_url": "http://placekitten.com/50/50",
            "custom_menu": "<li>..</li>",
            "page_heading_menu": "<li>..</li>",
            "search_box": "<div><input type='text'></div>",
            "navbar_plugin_output": "<div class='dropdown'>Messaging</div>",
            "user_menu": "<div class='dropdown'>John Doe</div>"
        },
        "config": {
            "wwwroot": "#",
            "homeurl": "/my/"
        },
        "sitename": "Moodle Site",
        "mobileprimarynav": [
            {
                "text": "Dashboard",
                "url": "/my",
                "isactive": true
            },
            {
                "text": "Site home",
                "url": "/",
                "isactive": false
            },
            {
                "text": "My courses",
                "url": "/course",
                "isactive": false
            }
        ]
    }
}}
<nav class="navbar-light bg-white shadow" aria-label="{{#str}}sitemenubar, admin{{/str}}">

{{RCVS Knowledge}}
  <main>
{{!RCVSK mobile menu up/down chevron }}
    <div class="d-md-none d-sm-block bg-white accordion" id="accordion-rcvsk">
      <div id="headingOne">
        <h2 class="mb-0 d-flex flex-row d-inline-block">
            <a class="d-md-none pl-4" href="https://knowledgestage.rcvs.org.uk">
              <img src="{{output.get_compact_logo_url}}" class="logo mr-1" alt="{{sitename}}">
            </a>

          <button class="accordion-button bg-white text-white" type="button" 
            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" 
            aria-controls="collapseOne">
          </button>
        </h2>
      </div>

{{!RCVSK primary menu in mobile }}
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" 
        data-parent="#accordion-rcvsk">
        <div class="card-body bg-white">
          <ul class="d-block text-right">
            <li class="nav-item"><a href="https://knowledgestage.rcvs.org.uk" class="text-purple icon_mainsite nav-link px-2">RCVS Knowledge</a></li>
            <li class="nav-item"><a href="https://staging.infocusvj.org" class="text-purple icon_infocus nav-link px-2" target="_top">INFOCUS</a></li>
            <li class="nav-item"><a href="https://knowledgestage.rvs.org.uk/" class="text-purple icon_learn nav-link px-2 active" target="_top">LEARN</a></li>
            <li class="nav-item"><a href="https://production.veterinaryevidence.org/index.php/ve/index" class="text-purple icon_ve nav-link px-2" target="_top">VETERINARY EVIDENCE</a></li>
            <li class="nav-item"><a href="https://staging.rcvsvethistory.org/" class="text-purple icon_vh nav-link px-2" target="_top">VET HISTORY</a></li>
            <li class="nav-item"><a href="https://staging.caninecruciateregistry.org/" class="text-purple icon_ccr nav-link px-2" aria-current="page" target="_top">CANINE CRUCIATE REGISTRY</a></li>
          </ul>
        </div>
      </div>
    </div>
{{!RCVSK primary menu in desktop }}
    <nav class="ribbon d-none d-md-block py-2 bg-white border-bottom">
      <div class="container-fluid d-flex flex-row flex-wrap navbar-nav">
        <ul class="nav d-flex mr-auto">
          <li class="nav-item">
                  <a class="navbar-brand d-none d-md-block" href="https://knowledgestage.rcvs.org.uk">
          <img src="{{output.get_logo}}" class="logo mr-1" width="150px" alt="{{sitename}}">
        </a>
          </li>
        </ul>
        <ul class="nav d-flex justify-content-end ml-auto">
          <li class="nav-item"><a href="https://staging.infocusvj.org" class="text-purple icon_infocus nav-link px-2" target="_top">INFOCUS</a></li>
          <li class="nav-item"><a href="#" class="icon_learn nav-link px-2 active" target="_top">LEARN</a></li>
          <li class="nav-item"><a href="https://production.veterinaryevidence.org/index.php/ve/index" class="text-purple icon_ve nav-link px-2" target="_top">VETERINARY EVIDENCE</a></li>
          <li class="nav-item"><a href="https://staging.rcvsvethistory.org/" class="text-purple icon_vh nav-link px-2" target="_top">VET HISTORY</a></li>
          <li class="nav-item"><a href="https://staging.caninecruciateregistry.org/" class="text-purple icon_ccr nav-link px-2" aria-current="page" target="_top">CANINE CRUCIATE REGISTRY</a></li>
        </ul>
      </div>
    </nav>
{{!RCVSK main title bar }}  
    <nav class="navbar bg-purple navbar-expand-md navbar-light bg-light text-dark" aria-label="Navbar">
      <div class="container-fluid no-gutters">
{{!Learn title }}         
        <div class="nav-link font-weight-bold p-0 pt-1 fs-4 d-flex text-light">
          <div class="text-light icon_learn pe-3 active"></div> 
          <span>
            {{{ sitename }}}
          </span>
        </div>
{{!Learn menu mobile hamburger }}
        <button class="navbar-toggler pr-4" type="button" data-toggle="collapse" 
          data-target="#bottomNavBar" aria-controls="bottomNavBar" aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>  
    <div class="navbar-collapse d-md-none collapse" id="bottomNavBar" style="">
        <ul class="navbar-nav ms-auto mb-2 mb-sm-0 mx-0">
          <li class="nav-item">
            <a class="nav-link link-dark font-weight-bold fs-5" href="#">
                {{$drawercontent}}
        <div class="list-group">
            {{#mobileprimarynav}}
                {{#haschildren}}
                <a id="drop-down-{{sort}}" href="#" class="list-group-item list-group-item-action icons-collapse-expand collapsed d-flex" data-toggle="collapse" data-target="#drop-down-menu-{{sort}}" aria-expanded="false" aria-controls="drop-down-menu-{{sort}}">
                    {{{text}}}
                    <span class="ml-auto expanded-icon icon-no-margin mx-2">
                        {{#pix}} t/expanded, core {{/pix}}
                        <span class="sr-only">
                            {{#str}} collapse, core {{/str}}
                        </span>
                    </span>
                    <span class="ml-auto collapsed-icon icon-no-margin mx-2">
                        {{#pix}} t/collapsed, core {{/pix}}
                        <span class="sr-only">
                            {{#str}} expand, core {{/str}}
                        </span>
                    </span>
                </a>
                <div class="collapse list-group-item p-0 border-0" role="menu" id="drop-down-menu-{{sort}}" aria-labelledby="drop-down-{{sort}}">
                    {{#children}}
                        {{^divider}}
                             <a href="{{{url}}}" class="pl-5 bg-light list-group-item list-group-item-action">{{{text}}}</a>
                        {{/divider}}
                    {{/children}}
                </div>
                {{/haschildren}}
                {{^haschildren}}
                <a href="{{{url}}}" class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}} {{#classes}}{{.}} {{/classes}}" {{#isactive}}aria-current="true"{{/isactive}}>
                    {{{text}}}
                </a>
                {{/haschildren}}
            {{/mobileprimarynav}}
        </div>
    {{/drawercontent}}
    </a>
          </li>
        </ul>

    </div>
  </main>

{{! RCVS Knowledge end }}

  <div class="navbar navbar-expand justify-content-center">
    {{!
    <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0"
      data-toggler="drawers" data-action="toggle" data-target="theme_moove-drawers-primary">
      <span class="navbar-toggler-icon"></span>
      <span class="sr-only">{{#strsidepanel, core{{/str</span>
    </button>
    }}
    

    {{#primarymoremenu}}
      <div class="primary-navigation">
        {{> core/moremenu}}
      </div>
    {{/primarymoremenu}}

    <ul class="navbar-nav d-none d-md-flex my-1 px-1 p-0">
      <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}} 
    </ul>
    <div id="usernavigation" class="navbar-nav ml-auto">
      <div class="navbarcallbacks">
        {{{ output.get_navbar_callbacks_data }}}
      </div>
      {{# output.search_box }}
      {{{ output.search_box }}}
      <div class="divider border-left h-75 align-self-center mx-1"></div>
      {{/output.search_box}}
      {{#langmenu}}
      {{> theme_moove/language_menu }}
      <div class="divider border-left h-75 align-self-center mx-1"></div>
      {{/langmenu}}
      {{{ output.navbar_plugin_output }}}
      <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
          {{#usermenu}}
          {{> core/user_menu }}
          {{/usermenu}}
       </div>
      {{{ output.edit_switch }}}
    </div>
  </div>
</nav>


{{#secondarymoremenu}}
    <div class="secondary-navigation d-print-none moove">
        <div class="moove-container-fluid ">
            {{> core/moremenu}}
        </div>
    </div>
{{/secondarymoremenu}}

{{> theme_moove/primary-drawer-mobile }}
